[user]
	email = e@kellett.im
	name = Ed Kellett
[push]
	default = simple
[alias]
	pl = log --oneline --decorate --graph --exclude=*/gh-pages --all
[web]
	browser = google-chrome
[gc]
	reflogExpire = never
	reflogExpireUnreachable = never
[core]
	excludesfile = ~/.rc/ignore
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[receive]
	fsckobjects = true
