[submodule ".vim/bundle/Apprentice"]
	path = .vim/bundle/Apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule ".vim/bundle/idris-vim"]
	path = .vim/bundle/idris-vim
	url = https://github.com/idris-hackers/idris-vim.git
[submodule ".vim/bundle/Unsullied"]
	path = .vim/bundle/Unsullied
	url = https://github.com/dahu/Unsullied.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/Insertlessly"]
	path = .vim/bundle/Insertlessly
	url = https://github.com/dahu/Insertlessly.git
[submodule ".vim/bundle/vim-mundo"]
	path = .vim/bundle/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
