[user]
	email = e@kellett.im
	name = Ed Kellett
[push]
	default = simple
[alias]
	pl = log --oneline --all --decorate --graph
[web]
	browser = google-chrome
[gc]
	reflogExpire = never
	reflogExpireUnreachable = never
